
<summary>

	<h3><%= link_to summary['title'], "/p/#{summary['uid']}", method: :get %></h3>
	<h5><%= summary['subtitle'] %></h5>

	<% if summary['subtitle'].length != summary['description'].length %>
		<p><%= truncate(summary['description'], :length => 400,  :separator => ' ') %></p>
	<% end %>

	<p>
		Last updated: <%= format_time( summary['published'])%> -
		<% if summary['url'] != "" %>
			Podcast: <a href="<%= summary['url'] %>" target="_main"><%= summary['url'] %></a> -
		<% end %>
		Feed: <a href="<%= summary['feed'] %>" target="_main"><%= summary['feed'] %></a>
	</p>

</summary>
